<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>mini weibo</title>
    <!--[if lt IE 9]>
        <script src="/static/js/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="/static/css/bootstrap.css" />

    </script>
</head>
<body>
    <div class="container">
            <div class="span9" style="padding-top:20px">
                <div class="row">
                    <div class="span9">
                        <div style="padding-left:30px">
                            <div class="h4">请使用新浪微博帐号登录：</div>
                            <div style="padding:10px 0px"><a href="/signin"><img src="/static/i/signin.png" style="width: 239px;height: 48px" /></a></div>
                        </div>
                    </div>
                </div>
              
            </div>
        </div>

    
</body>
</html>
